<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--配置全局属性-->
    <settings>
        <!--使用JDBC的getGeneratedKeys 获取数据库自增的主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名替换列别名 默认：true
        select name as title from table
        -->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名自动转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <plugins>
        <!--分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--分页方式-->
            <property name="helperDialect" value="mysql"/>
            <!--使用pageNum、pageSize替换offset、limit-->
            <property name="offsetAsPageNum" value="true"/>
            <!--分页合理化-->
            <property name="reasonable" value="true"/>
            <!--支持Mapper接口传递分页参数-->
            <property name="supportMethodsArguments" value="true"/>
            <!--pageSize=0时 查询所有结果-->
            <property name="pageSizeZero" value="true"/>
        </plugin>
    </plugins>

</configuration>